@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.Layout {
  max-width: 1200px;
  margin: 0 auto;
}
.Loader {
  display: block;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.tranding-header {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: orange;
}
